<div class="col-sm-12 m-0 p-0">
  <div class="d-flex">
    <input type="text" name="" [(ngModel)]="motclef" id="" class="form-control col-sm-12" placeholder="Taper un mot clé">
  </div>
  <br>
  <div class="my-1 p-2 bg-light shadow pointer" *ngFor="let data of filterData()" (click)="onSelected(data)">
    <h5>{{data.title}}</h5>
    <span class="d-block">{{data.content}}</span>
    <span class="text-small text-muted">{{data.subcontent}}</span>
  </div>
</div>
