<div class="mt-2 pointer">
    <div class="w-auto position-relative ">
        <div class="d-flex p-1" (click)="openVisual()" style="overflow: auto;">
          <img  *ngFor="let photo of data.oeuvrePhotos" [src]="getImage(photo.id)" class="d-block w-100 h-50 article-img mr-2">
          <!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item">
                <img [src]="getImage(photo.id)" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div> -->
        </div>
        <div class="m-0 font-size-grand text-white" style="position: absolute; bottom: .1rem; right: .3rem;">{{data.prix}}</div>
        <!-- <div class="m-0 font-size-grand text-warning" style="position: absolute; top: .1rem; left: .3rem;"><span><i class="fa fa-star"></i></span></div> -->
    </div>
    <div class="font-size-normal font-weight-bold m-0" (click)="openVisual()">{{data.nom}}</div>
    <span class="d-block font-size-petit" (click)="openVisual()">{{data.categorieOeuvre.description}}</span>
    <div class="font-size-petit mt-1">
        <span (click)="viewArtiste(data.artiste.id)" class="d-block text-underlined-hover">{{data.artiste.nom}} {{data.artiste.postnom}} {{data.artiste.prenom}}</span>
        <!-- <span class="d-block mt-0">{{data.ville}}</span> -->
        <span class="font-size-normal d-inline-block"><i (click)="like()" class="fa fa-thumbs-up"></i> <span class="font-size-petit ml-1 d-inline-block">{{data.jaimes.length}}</span></span>
    </div>

</div>
