<div id="box" class="bg-white h-100 text-primary border p-3 rounded mx-auto" style="position: relative;">
    <div class="offset-md-4 col-md-4 mt-3">
        <div class="text-camby-bold font-size-grand">
            <span class="font-weight-bold pointer d-inline-block align-center">Nouvelle oeuvre</span>
        </div>
        <div>
            <label for="username" class="font-size-petit mx-auto mt-3 d-block">Nom<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="oeuvre.nom" class="d-block w-100 font-size-petit p-1">
            <!-- <label for="username" class="font-size-petit mx-auto mt-1 d-block">Code<span class="text-danger">*</span></label>
            <input type="text" name="username" id="username" class="d-block w-100 font-size-petit p-1"> -->
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Prix<span class="text-danger">*</span></label>
            <input type="number" [(ngModel)]="oeuvre.prix" class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Origine</label>
            <input type="text" [(ngModel)]="oeuvre.origine" class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Date de création<span class="text-danger">*</span></label>
            <input type="date" [(ngModel)]="oeuvre.dateCreation" class="d-block w-100 font-size-petit p-1">
            <label for="username" (click)="openSelecterCategorie(callbackCategorie)" class="font-size-petit mx-auto mt-1 d-block pointer my-1"><span><div class="fa fa-edit"></div></span> Categorie<span class="text-danger">*</span></label>
            <input type="text" name="username" [value]="oeuvre.categorieOeuvre?oeuvre.categorieOeuvre.description: ''" [disabled]="true" id="username" class="d-block w-100 font-size-petit p-1">
            <label for="username" (click)="openSelecterArtistes(callbackArtiste)" class="font-size-petit mx-auto mt-1 d-block pointer"><span><div class="fa fa-edit"></div></span> Artiste<span class="text-danger">*</span></label>
            <input type="text" name="username" name="username" [value]="oeuvre.artiste?oeuvre.artiste.nom +' '+oeuvre.artiste.postnom+' '+oeuvre.artiste.prenom : ''" [disabled]="true" id="username" class="d-block w-100 font-size-petit p-1">
            <label for="username" (click)="openFileSelecter()" class="font-size-petit mx-auto mt-1 d-block pointer"><span><div class="fa fa-plus"></div></span> Ajouter une photo<span class="text-danger">*</span></label>
            <div class="d-flex flex-wrap justify-content-between w-100">
              <div class="col-sm-5" *ngFor="let oeuvrePhoto of oeuvre.oeuvrePhotos; index as i">
                <span class="d-block font-size-petit"><span class="text-danger" (click)="removePhoto(i)"><i class="fa fa-minus"></i></span></span>
                <img src="{{oeuvrePhoto.file}}" alt="" class="img-fluid">
              </div>
            </div>
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Description<span class="text-danger">*</span></label>
            <textarea style="height: 5rem;" [(ngModel)]="oeuvre.description"  class="d-block w-100 font-size-petit p-1"></textarea>
            <button (click)="save()" class="button d-block mx-auto font-size-petit w-75 mt-2">Enregistrer</button>
        </div>
    </div>
</div>
