<div class="col-sm-12">
  <div class="text-justify">
    Alors que tout le monde veut faire avec des stars,
    nous avons choisi de faire des stars : Ren’art Afrika (Renaissance Artistique Africaine ) se veut être
    la plus grande plateforme de redynamisation et promotion des arts Africains et Congolais en particulier .
    Grace à la technologie, nous offrons un appui considérable dans la production artistique et nous digitalisons
    le processus de diffusion des œuvres d’art : tout un virage numérique dans le fonctionnement et la commercialisation
    de l’industrie artistique. Nous facilitons aux acheteurs d’acheter des œuvres d’Art authentiques à des prix abordables
    et se faire livrer partout dans le monde.
  </div>
  <span class="font-size-grand d-block mt-2">Notre vision</span>
  <div class="text-justify">
    <b>NOTRE VISION</b> est de créer  des sociétés Africaines où nos arts sont reconnus à leur juste valeur et nos artistes peuvent vivre de leur travail et travailler dans des conditions plus humaines.
    <br>
    Acheter chez nous ou soutenir notre travail c’est apporter votre pierre dans cette grande constriction.
  </div>
</div>
