<div class="bg-primary p-md-4 p-2">
    <div class="row">
        <div class="col-6 col-sm-4">
            <div class="font-size-grand font-weight-bold">Liens rapides</div>
            <br>
            <div class="font-size-normal">Peinture</div>
            <div class="font-size-normal">Sculpture</div>
            <div class="font-size-normal">Photographie</div>
            <div class="font-size-normal">Dessin</div>
        </div>
        <div class="col-6 col-sm-4">
            <div class="font-size-grand font-weight-bold ">Ren'Art</div>
            <br>
            <div class="font-size-normal">Ma galerie</div>
            <div class="font-size-normal">Mon compte</div>
            <div class="font-size-normal">A propos</div>
            <div class="font-size-normal">Se deconnecter</div>
        </div>

        <div class="col-6 col-sm-4">
          <div class="font-size-grand font-weight-bold ">Contacts</div>
          <br>
          <div class="font-size-normal">contact@renartafrika.com</div>
          <div class="font-size-normal">Réseaux sociaux</div>
          <div class="font-size-normal"><span class="d-inline-block"><i class="fa fa-facebook-square"></i></span> <span class="d-inline-block ml-2"><i class="fa fa-twitter-square"></i></span> <span class="d-inline-block ml-2"><i class="fa fa-whatsapp"></i></span></div>
          <!-- <div class="font-size-normal">Se deconnecter</div> -->
      </div>

        <div class="col-12 col-sm-8 mx-auto mt-3">
            <div class="font-size-grand font-weight-bold mt-4 mt-md-0">Ecrivez-nous</div>
            <br>
            <input type="text" class="form-control form-control-sm rounded-0" placeholder="Votre nom">
            <input type="text" class="form-control form-control-sm rounded-0 mt-1" placeholder="Adresse mail">
            <textarea placeholder="Votre message" name="" id="" cols="30" rows="10" class="form-control mt-1 rounded-0 form-control-sm" style="height: 5rem;"></textarea>
            <button class="button d-block rounded-0 font-size-petit w-75 mt-2">Envoyer</button>
        </div>
    </div>
</div>
