<div class="col-sm-12 d-sm-flex p-2 justify-content-around flex-wrap">
    <mat-card class="col-sm-3 bg-secondary shadow mr-4  mt-4">
        <h1 class="text-center title p-1 font-size-grand" style="margin: 0;">EXPOSITIONS</h1>
        <mat-card-content>
            <img src="assets/images/file.png" width="50%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis non at incidunt animi consequuntur possimus enim 
                aperiam maxime placeat sequi!
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex">
            <button mat-button routerLink="" class="btn btn-primary border col-sm-10 mx-auto rounded-0">Acceder</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-sm-3 shadow mr-4 mt-4">
        <h1 class="text-center title p-1 font-size-grand" style="margin: 0;">ARTISTES</h1>
        <mat-card-content>
            <img src="assets/images/printer.png" width="50%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis non at incidunt animi consequuntur possimus enim 
                aperiam maxime placeat sequi!
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex">
            <button mat-button routerLink=""  class="btn btn-primary border col-sm-10 mx-auto rounded-0">Acceder</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-sm-3 shadow mr-4 mt-4">
        <h1 class="text-center title p-1 font-size-grand" style="margin: 0;">COMMERCIALE</h1>
        <mat-card-content>
            <img src="assets/images/finance.png" width="50%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis non at incidunt animi consequuntur possimus enim 
                aperiam maxime placeat sequi!
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex">
            <button mat-button class="btn btn-primary border col-sm-10 mx-auto rounded-0">Acceder</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-sm-3 shadow mr-4 mt-4">
        <h1 class="text-center title p-1 font-size-grand" style="margin: 0;">ARCHIVAGE</h1>
        <mat-card-content>
            <img src="assets/images/archive.png" width="50%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis non at incidunt animi consequuntur possimus enim 
                aperiam maxime placeat sequi!
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex">
            <button mat-button routerLink="archivage-autres" class="btn btn-primary border col-sm-10 mx-auto rounded-0">Acceder</button>
        </mat-card-actions>
    </mat-card>
</div>