<div class="bg-primary d-none d-lg-flex" style="height: 3rem; z-index: 100;">
    <div class="col-md-2 align-middle d-flex flex-column justify-content-center" [routerLink]="['/']">
        <span class="font-size-grand text-klavika">Ren'ART</span>
    </div>
    <div class="col-md-7 d-flex">
        <ul class="list-style-none font-size-petit d-flex my-auto">
            <li class="" [routerLink]="['/']">Accueil</li>
            <li class="ml-3 position-relative menu">
                <span class="d-block dropdown-toggle">Boutique</span>
                <ul class="flex-column px-2 py-1 bg-primary menu-list position-absolute" style="list-style-type: none; font-size: .7rem;">
                    <li class="menu-item p-1 pointer">Peinture</li>
                    <li class="menu-item p-1 pointer">Sculpture</li>
                    <li class="menu-item p-1 pointer">Photographie</li>
                    <li class="menu-item p-1 pointer">Mode</li>
                    <li class="menu-item p-1 pointer">Dessin</li>
                    <li class="menu-item p-1 pointer">Tous</li>
                </ul>
            </li>
            <li class="ml-3" [routerLink]="['/artistes']">Nos artistes</li>
            <li class="ml-3" [routerLink]="['/about']">À propos</li>
            <li class="ml-4 position-relative menu" *ngIf="appConfig.user">
                <span class="d-block dropdown-toggle">{{appConfig.user.noms}}</span>
                <ul class="flex-column px-2 py-1 bg-primary menu-list position-absolute" style="list-style-type: none; font-size: .7rem;">
                    <li class="menu-item p-1 pointer" [routerLink]="['/mon-compte']" >Gérer compte</li>
                    <li class="menu-item p-1 pointer" >Mon panier</li>
                    <li class=" p-1 pointer dropdown-divider"></li>
                    <li class="menu-item p-1 pointer" (click)="appConfig.onDisconnected()">Se deconnecter</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-3 d-flex ml-auto">
        <div class="d-flex my-auto w-100">
            <input style="height: 1.4rem; padding: .7em; width: 8rem;" type="text" class="form-control form-control-sm rounded font-size-petit" placeholder="Rercherche">
            <button style="height: 1.4rem;" mat-raised-button class="font-size-petit text-cambay ml-2">OK</button>
        </div>
    </div>
</div>
<div class="d-flex d-lg-none p-3 bg-primary">
    <div  [routerLink]="['/']" class="col-md-2 mr-auto align-middle d-flex flex-column justify-content-center">
        <span class="font-size-grand text-klavika">Ren'ART</span>
    </div>
    <!-- <img src="assets/images/logo.png" alt="" style="width: 20%;"> -->
    <span (click)="openDrawer()" *ngIf="drawerState == 'close'" class="ml-auto text-second-color p-1" style="font-size: 1rem;"><i class="fa fa-align-justify"></i></span>
    <span (click)="closeDrawer()" *ngIf="drawerState == 'open'" class="ml-auto text-second-color p-1" style="font-size: 1rem;"><i class="fa fa-times"></i></span>
</div>
<div [@drawer]="drawerState" class="m-0 p-0 shadow position-fixed d-block d-lg-none" style="top: 0; left:0; width: 65%; height: 100%; background-color: var(--primary-color); z-index: 10000000000;">
    <div  [routerLink]="['/']" class="bg-secondary p-3 mx-auto d-flex flex-column justify-content-start">
        <span class="font-size-grand text-klavika">Ren'ART</span>
    </div>
    <div class="p-1">
        <ul class="d-flex flex-column text-white"  style="list-style-type: none;">
            <li  [routerLink]="['/']" class="pointer mt-2" (click)="onSelected('acceuil')">Accueil</li>
            <li class="dropdown mt-2 position-relative menu">
                <span class="d-block dropdown-toggle pointer">Boutique</span>
                <ul class="flex-column px-2 rounded-right py-1 text-white menu-list position-relative" style="list-style-type: none; font-size: .7rem; width: 100%;">
                    <li class="menu-item p-1 pointer">Peinture</li>
                    <li class="menu-item p-1 pointer">Sculpture</li>
                    <li class="menu-item p-1 pointer">Photographie</li>
                    <li class="menu-item p-1 pointer">Dessin</li>
                    <li class="menu-item p-1 pointer">Tous les oeuvres</li>
                </ul>
            </li>
            <li class="ml-3" [routerLink]="['/artistes']">Nos artistes</li>
            <li class="mt-2"  [routerLink]="['/about']">À propos</li>
            <li class="position-relative menu mt-2" *ngIf="appConfig.user">
                <span class="d-block dropdown-toggle">{{appConfig.user.noms}}</span>
                <ul class="flex-column px-2 py-1 bg-primary menu-list position-absolute" style="list-style-type: none; font-size: .7rem;">
                    <li class="menu-item p-1 pointer"  [routerLink]="['/mon-compte']">Gérer compte</li>
                    <li class="menu-item p-1 pointer">Se deconnecter</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
