
.menu-list{
    width: 25vw;
    display: none;
}

.menu:hover .menu-list{
    display: flex;
    z-index: 5000;
}

.menu{
    cursor: pointer;
}

li{
    cursor: pointer;
}

.menu-item:hover{
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
}