<div id="box" class="bg-white h-100 text-primary border p-3 rounded mx-auto" style="position: relative;">
    <div class="offset-md-4 col-md-4 mt-3">
        <div class="text-camby-bold font-size-grand">
            <span class="font-weight-bold pointer d-inline-block align-center">Nouvel Artiste</span>
        </div>
        <div>
            <label for="username" class="font-size-petit mx-auto mt-3 d-block">Nom<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="artiste.nom" class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Postnom<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="artiste.postnom" class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Prénom<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="artiste.prenom" class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Lieu de naissance<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="artiste.lieuNaissance" class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Date de naissance<span class="text-danger">*</span></label>
            <input type="date" [(ngModel)]="artiste.dateNaissance" class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Téléphone</label>
            <input type="tel" maxlength="10"  [(ngModel)]="artiste.telephone" class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Email</label>
            <input type="email" [(ngModel)]="artiste.email" class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Nationalité</label>
            <input type="text" [(ngModel)]="artiste.nationalite" class="d-block w-100 font-size-petit p-1">
            <label for="username" (click)="openFileSelecter()" *ngIf="!data" class="font-size-petit mx-auto mt-1 d-block pointer"><span><div class="fa fa-plus"></div></span> Ajouter une photo<span class="text-danger">*</span></label>
            <span class="d-block font-size-petit"><span class="text-danger" (click)="removePhoto()"><i class="fa fa-minus" *ngIf="data"></i></span></span>
                <img src="{{data}}" alt="" class="img-fluid">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Biographie<span class="text-danger">*</span></label>
            <textarea type="text" [(ngModel)]="artiste.biographie" class="d-block w-100 font-size-petit p-1"></textarea>
            <button (click)="save()" class="button d-block mx-auto font-size-petit w-75 mt-2">Enregistrer</button>
        </div>
    </div>
</div>
