<div class="col-sm-12 m-0">
  <div *ngIf="artiste">
    <div class="d-inline-block col-sm-4">
      <img [src]="appConfig.getProfilArtiste(artiste.id)" alt="" class="img-fluid d-block">
    </div>
    <div class="d-inline-block col-sm-8 align-top">
      <div class="">{{artiste.nom}} {{artiste.postnom}} {{artiste.prenom}}</div>
      <!-- <div class="font-size-petit">Téléphone: {{artiste.telephone}}</div> -->
      <!-- <div class="font-size-petit">e-mail: {{artiste.email}}</div> -->
      <!-- <div class="font-size-petit">Nationalité: {{artiste.nationalite}}</div> -->
      <div class="mt-2 text-underlined" *ngIf="oeuvres.length > 0">Oeuvres</div>
      <div class="px-0 py-2 row">
        <app-article-box *ngFor="let datum of oeuvres" [data]="datum" class="col-md-4 m-1 bg-light col-4"></app-article-box>
      </div>
      <div class="mt-4 text-underlined">Biographie</div>
      <div class="font-size-petit">{{artiste.biographie}}</div>

    </div>
  </div>

</div>
