<div class="bg-primary d-none d-lg-flex" style="height: 3rem; z-index: 100;">
    <div class="col-md-2 align-middle d-flex flex-column justify-content-center" [routerLink]="['/admin']">
        <span class="font-size-grand text-klavika">Ren'ART</span>
    </div>
    <div class="col-md-8 d-flex">
        <ul class="list-style-none font-size-petit d-flex my-auto">
            <li class="ml-3 position-relative menu">
                <span class="d-block dropdown-toggle">Oeuvre</span>
                <ul class="flex-column px-2 py-1 bg-primary menu-list position-absolute" style="list-style-type: none; font-size: .7rem;">
                    <li class="menu-item p-1 pointer" [routerLink]="['/admin/main/new-expo']">Nouvel oeuvre</li>
                    <li class="menu-item p-1 pointer" [routerLink]="['/admin/main/list-expo']">Liste d'oeuvres</li>
                </ul>
            </li>
            <li class="ml-4 position-relative menu">
                <span class="d-block dropdown-toggle">Artiste</span>
                <ul class="flex-column px-2 py-1 bg-primary menu-list position-absolute" style="list-style-type: none; font-size: .7rem;">
                    <li class="menu-item p-1 pointer"  [routerLink]="['/admin/main/new-artiste']">Nouvel artist</li>
                    <li class="menu-item p-1 pointer" [routerLink]="['/admin/main/list-artistes']" >Liste d'artistes</li>
                </ul>
            </li>
            <li class="ml-4 position-relative menu">
                <span class="d-block dropdown-toggle">Commerciales</span>
                <ul class="flex-column px-2 py-1 bg-primary menu-list position-absolute" style="list-style-type: none; font-size: .7rem;">
                    <li class="menu-item p-1 pointer" [routerLink]="['/mon-compte']" >Liste de commandes</li>
                    <li class="menu-item p-1 pointer" [routerLink]="['/mon-compte']" >Liste de factures</li>
                    <li class="menu-item p-1 pointer" [routerLink]="['/mon-compte']" >Rapport de commande</li>
                </ul>
            </li>
            <li class="ml-4 position-relative menu">
                <span class="d-block dropdown-toggle">Mon compte</span>
                <ul class="flex-column px-2 py-1 bg-primary menu-list position-absolute" style="list-style-type: none; font-size: .7rem;">
                    <li class="menu-item p-1 pointer" [routerLink]="['/mon-compte']" >Gérer compte</li>
                    <li class=" p-1 pointer dropdown-divider"></li>
                    <li class="menu-item p-1 pointer">Se deconnecter</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
