
<div class="col-sm-12 p-0 m-0 rounded font-size-petit">
  <h4 class="text-center border-bottom">Titre</h4>
  <div class="form-group">
      <input type="file" class="form-control-file" accept=".png, .jpg, .jpeg, .pdf" (change)="handleFileInput($event.target.files)" id="exampleFormControlFile1">
  </div>
  <button class="btn rounded-pill  bg-dark text-white  col-sm-4 offset-4 mt-3"  (click)="btnUpload()">OK</button>
</div>
