<div id="box" class="bg-light text-primary border p-3 rounded mx-auto" style="position: relative;" @fade>
    <div class="mx-auto">
        <span mat-dialog-close class="font-size-normal bg-white text-dark rounded-circle justify-content-center d-flex" style="position: absolute; top: 0px; right: 0px;"><i class="fa fa-times"></i></span>
        <div class="text-camby-bold font-size-normal">
            <span (click)="changeScreen('login')" [ngClass]="{'font-size-grand': login_state == 'in','text-secondary': login_state == 'out' }" class="font-weight-bold pointer d-inline-block align-center">Connexion</span>
            <span (click)="changeScreen('inscription')" [ngClass]="{'font-size-grand': inscription_state == 'in','text-secondary': inscription_state == 'out' }" class=" font-weight-bold ml-3 pointer d-inline-block align-center">Inscription</span>
        </div>
        <div [@fade-left]="login_state">

            <div class="font-size-petit mt-2">Ravi de vous revoir !</div>
            <div class="font-size-petit mt-1">Connectez vous afin de compléter votre wishlist ou pour passer commande.</div>

            <label for="username" class="font-size-petit mx-auto mt-3 d-block"><i class="fa fa-user"></i> Nom d'utilisateur</label>
            <input type="text" name="username" [(ngModel)]="login.username"  id="username" class="d-block w-100 font-size-petit p-1">
            <label for="password" class="font-size-petit mx-auto mt-3 d-block"><i class="fa fa-key"></i> Mot de passe</label>
            <input type="password" name="password" [(ngModel)]="login.password"  id="password" class="d-block w-100 font-size-petit p-1">
            <br>
            <div class="d-flex flex-column justify-content-center mx-auto mb-2">
                <span class="font-size-petit text-center text-secondary pointer">Mot de passe oublié</span>
                <span class="font-size-petit text-center">Vous n'avez pas de compte? <span class="text-secondary pointer" (click)="changeScreen('inscription')">Créer un compte</span></span>
            </div>
            <button (click)="connexion()" class="button d-block mx-auto font-size-petit">Connexion</button>
        </div>
        <div [@fade-right]="inscription_state">
            <div class="font-size-petit mt-2">Bienvenue chez <span class="font-weight-bold">Ren'ART</span></div>
            <div class="font-size-petit mt-1">Découvrez et achetez en ligne le meilleur de l’art contemporain.</div>

            <label for="username" class="font-size-petit mx-auto mt-3 d-block">Noms<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="user.noms" class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Telephone<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="user.telephone" class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">E-mail<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="user.email"  class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">username<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="user.username" class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Mot de passe</label>
            <input type="password" [(ngModel)]="user.password"  class="d-block w-100 font-size-petit p-1">
            <label for="username" class="font-size-petit mx-auto mt-1 d-block">Confirmer mot de passe<span class="text-danger">*</span></label>
            <input type="password" [(ngModel)]="confrmPassword" name="username" id="username" class="d-block w-100 font-size-petit p-1">
            <button (click)="register()" class="button d-block mx-auto font-size-petit w-75 mt-2">S'enregistrer</button>
        </div>
    </div>
</div>
