<div id="box" class="bg-white h-100 text-primary border p-3 rounded mx-auto" style="position: relative;"> 
    <div class="offset-md-4 col-md-4 mt-3">
        <div class="text-camby-bold font-size-grand">
            <span class="font-weight-bold pointer d-inline-block align-center">Connexion</span>
        </div>
        <div>
            <div class="font-size-petit mt-2">Bienvenue Administrateur</div>
            <label for="username" class="font-size-petit mx-auto mt-3 d-block"><i class="fa fa-user"></i> Nom d'utilisateur</label>
            <input type="text" name="username" [(ngModel)]="data.username" id="username" class="d-block w-100 font-size-petit p-1">
            <label for="password" class="font-size-petit mx-auto mt-3 d-block"><i class="fa fa-key"></i> Mot de passe</label>
            <input type="password" [(ngModel)]="data.password" name="password" id="password" class="d-block w-100 font-size-petit p-1">
            <span class="text-danger d-block font-size-petit">{{message}}</span>
            <br>
            <button (click)="onConnexion()" class="button d-block mx-auto font-size-petit w-100 mt-2">Connexion</button>
            <br>
        </div>
    </div>
</div>