<div id="banner" class="position-relative p-3 p-md-0" style="z-index: 2; width: 100%;">
    <!-- <img src="assets/images/1.jpg" alt="" class="d-block" style="height: auto; width: 100%;"> -->


    <div class="font-size-grand d-md-inline-block pl-md-5  align-top text-white col-md-7 pt-md-4 text-left text-white text-circular text-uppercase">
        Découvrez et achetez en ligne le meilleur de l’art et artisanat congolais.
    </div>
    <button *ngIf="!appConfig.user" (click)="openLogin()" class="button d-block mx-auto font-size-petit">Rejoignez-nous</button>
</div>
