#banner{
    background-image: url(../../../assets/images/ban.jpg);
    background-color: rgba(104, 114, 10, 0.801);
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;

}

@media(min-width: 576px){
    #banner{
        height: 15rem;
    }
}
