<div class="mt-2 bg-secondary position-relative box mx-auto">
    <span mat-dialog-close class="font-size-normal bg-primary rounded-circle justify-content-center d-flex" style="position: absolute; top: 0px; right: 0px; z-index: 1000; width: 1rem; height: 1rem;"><i class="fa fa-times"></i></span>
    <div class="p-2">
        <div class="w-auto position-relative">
          <div class="d-flex p-1 overflow-auto">
            <img  *ngFor="let photo of data.oeuvrePhotos" [src]="getImage(photo.id)" class="w-100 h-50 article-img mr-2">
          </div>
            <div class="m-0 font-size-grand text-white" style="position: absolute; bottom: .1rem; right: .3rem;">{{data.prix}}</div>
            <!-- <div class="m-0 font-size-grand text-warning" style="position: absolute; top: .1rem; left: .3rem;"><span><i class="fa fa-star"></i></span></div> -->
        </div>
        <div class="p-2">
            <div class="font-size-normal font-weight-bold m-0">{{data.nom}}</div>
            <span class="d-block font-size-petit">{{data.categorieOeuvre.description}}</span>
            <!-- <span class="d-block font-size-petit">{{data.type}}</span> -->
            <div class="font-size-petit mt-1">
              <span class="d-block">{{data.artiste.nom}} {{data.artiste.postnom}} {{data.artiste.prenom}}</span>
                <span class="d-block mt-0">{{data.origine}}</span>
                <span class="font-size-normal d-inline-block"><i class="fa fa-thumbs-up"></i> <span class="font-size-petit ml-1 d-inline-block">{{data | jaimeCount}}</span></span>
            </div>
        </div>

        <button class="button" (click)="commande()">Commander</button>
    </div>
</div>
