<div class="col-sm-12 m-0">
  <div class="d-flex flex-wrap justity-content-between">
    <div class="p-0 d-flex mt-2 col-sm-5" *ngFor="let artiste of artistes">
      <div class="col-sm-6">
        <img [src]="appConfig.getProfilArtiste(artiste.id)" alt="" class="img-fluid rounded">
      </div>
      <div class="col-sm-5 ml-2 p-1">
        <div class="font-size-petit">{{artiste.nom}} {{artiste.postnom}} {{artiste.prenom}}</div>
        <!-- <div class="font-size-tres-petit">Téléphone: {{artiste.telephone}}</div> -->
        <!-- <div class="font-size-tres-petit">e-mail: {{artiste.email}}</div> -->
        <!-- <div class="font-size-tres-petit">Nationalité: {{artiste.nationalite}}</div> -->
        <div (click)="voirArtiste(artiste.id)" class="text-underlined-hover p-1 font-size-petit pointer font-weight-bold text-primary border p-2 bg-light d-inline-block">Voir plus</div>
      </div>
    </div>
  </div>
</div>
