/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: "Cambay Bold";
    src: url(assets/fonts/Cambay-Bold.ttf) format('truetype');
}

@font-face{
    font-family: "Cambay";
    src: url(assets/fonts/Cambay-Regular.ttf) format('truetype');
}

@font-face{
    font-family: "Circular Bold";
    src: url(assets/fonts/CircularStd-Bold.ttf) format('truetype');
}

@font-face{
    font-family: "Klavika";
    src: url(assets/fonts/klavika-medium.otf) format('openType');
}

html{
    --primary-color: #0c0b0b;
    --secondary-color: #d4d3d3;
}

:root{
    font-size: calc(16px + 6 * ((100vw - 320px)/680));
}

html, body { height: 100%; }
body { margin: 0; font-family: "Cambay", "Helvetica Neue", sans-serif; font-size: 1rem; }

.text-primary{
    color: var(--primary-color);
}

.bg-primary{
    background-color: var(--primary-color) !important;
    color: white;
}

.bg-secondary{
    background-color: var(--secondary-color) !important;
    color: var(--primary-color);
}

.text-cambay{
    font-family: "Cambay";
}
.text-cambay-bold{
    font-family: "Cambay Bold";
}

.text-klavika{
    font-family: "Klavika";
}

.text-circular{
    font-family: "Circular Bold"
}
.font-size-tres-petit{
  font-size: 0.6rem;
}
.font-size-petit{
    font-size: 0.7rem;
}

.font-size-normal{
    font-size: 0.9rem;
}

.font-size-grand{
    font-size: 1.5rem;
}

.font-size-tres-grand{
    font-size: 2rem;
}

.text-primary{
    color: var(--primary-color) !important;
}

.text-secondary{
    color: var(--secondary-color);
}

.list-style-none{
    list-style-type: none;
}
::placeholder{
    font-size: .6rem;
    vertical-align: middle;
}

.pointer{
    cursor: pointer;
}

/*Modals container design*/
#login-modal-component{
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    color: white;
    width: 100%;
    height: auto;
}

.button{
    background-color: midnightblue;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.5rem;
    text-align: center;
}

.button:hover{
    background-color: #e2cd0f;
    color: var(--primary-color);
    border: none;
}

.text-underlined{
    text-decoration: underline;
}

.text-underlined-hover:hover{
  text-decoration: underline;
}
