<div class="font-size-normal pl-4">Recemment ajoutés</div>
<div class="px-4 py-2 row">
    <app-article-box *ngFor="let datum of data" [data]="datum" class="col-md-3 col-6"></app-article-box>
</div>
<!-- <div class="font-size-normal pl-4">Les plus côtés</div>
<div class="px-4 py-2 row">
    <app-article-box *ngFor="let datum of data" [data]="datum" class="col-md-3 col-6"></app-article-box>
</div>
<div class="font-size-normal pl-4">Peinture</div>
<div class="px-4 py-2 row">
    <app-article-box *ngFor="let datum of data" [data]="datum" class="col-md-3 col-6"></app-article-box>
</div>
<div class="font-size-normal pl-4">Sculpture</div>
<div class="px-4 py-2 row">
    <app-article-box *ngFor="let datum of data" [data]="datum" class="col-md-3 col-6"></app-article-box>
</div>
<div class="font-size-normal pl-4">Photographie</div>
<div class="px-4 py-2 row">
    <app-article-box *ngFor="let datum of data" [data]="datum" class="col-md-3 col-6"></app-article-box>
</div>
<div class="font-size-normal pl-4">Dessin</div>
<div class="px-4 py-2 row">
    <app-article-box *ngFor="let datum of data" [data]="datum" class="col-md-3 col-6"></app-article-box>
</div>
<div class="font-size-normal pl-4">Autres</div>
<div class="px-4 py-2 row">
    <app-article-box *ngFor="let datum of data" [data]="datum" class="col-md-3 col-6"></app-article-box>
</div> -->
